Repository dil-dgulyban/ai-assisted-coding-training: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint -- --fix, npm run format

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "npm run lint -- --fix",
    "npm run format"
  ],
  "*.{json,css,md}": [
    "npm run format"
  ]
}

style: Fix formatting issues across project files
  .github/workflows/ci.yml
  .lintstagedrc
  .prettierrc
  context.md
  plan.md
  planning-guide.md
  src/App.css
  src/__tests__/App.test.tsx
  src/__tests__/Layout.test.tsx
  src/__tests__/theme.test.tsx
  src/components/CreateTodoButton/CreateTodoButton.tsx
  src/components/Layout/Footer.tsx
  src/components/Layout/Header.tsx
  src/main.tsx
  src/providers/ThemeProvider.tsx
  src/setupTests.ts
  src/types/Todo.ts
  tsconfig.json
Due: npm run lint -- --fix, npm run format

Add build to precommit
  .husky/pre-commit
Due: none

chore: manual review minor improvements
  .cursor/rules/ai-docs.mdc
  src/components/TodoList/TodoItem.tsx
Due: npm run lint -- --fix, npm run format

add prompt, initial plan
  .gitignore
  implementation-plans/aiadt-10-session-storage.md
  implementation-plans/initial-plan.md
  prompt-library/1-initial-review-unified.md
  prompt-library/2-iterating-on-questions.md
  prompt-library/3-implmentation-plan-generation.md
  prompt-library/4-feedback-request-review.md
  prompt-library/planning-guide.md
  tmp/.gitkeep
Due: npm run format

=prompt fine-tuning
  .gitignore
  prompt-library/3-implmentation-plan-generation.md
  prompt-library/task-creation/0-ticket-creation.md
  tmp/AIADT-11-prompt-history.md
Due: npm run format

minor repo improvements
  ai-assisted-engineering-training.iml
  product/PRODUCT_OVERVIEW.md
  prompt-library/2-iterating-on-questions.md
Due: npm run format

prompt library imporvements
  prompt-library/1-initial-review-unified.md
  prompt-library/4-feedback-request-review.md
  prompt-library/simple-prompts/ai-code-review.md
  prompt-library/simple-prompts/open-pr.md
  prompt-library/simple-prompts/test-mcp.md
Due: npm run format

update AI.md
  AI.md
Due: npm run format

added implementation prompot
  prompt-library/simple-prompts/implement-plan.md
Due: npm run format

=minor prompt improvements
  implementation-plans/aiadt-10-session-storage.md
  prompt-library/4-feedback-request-review.md
Due: npm run format

=minor prompt improvements
  prompt-library/3-implmentation-plan-generation.md
  prompt-library/4-feedback-request-review.md
Due: npm run format

Fix repository owner URLs from dil-asomlai to dil-dgulyban
  README.md
Due: npm run format

Add session storage utility functions for todo persistence
  src/utils/sessionStorage.ts
Due: npm run lint -- --fix, npm run format

Add Toast component for user notifications
  src/components/Toast/Toast.tsx
Due: npm run lint -- --fix, npm run format
